@import "../../responsive.scss" ;
.searchBar{
    .type{
          
        button{
            cursor: pointer;
            padding: 15px 35px;
            background-color: transparent;
            border: 0.51px solid rgba(0, 0, 0, 0.651);
            border-bottom: none;
            &.active{
                background-color: black;
                color: white;
            }
        }
    }
    form{
        display: flex;
        @include sm{
           flex-direction: column;
         }
        input{
            padding: 22px 30px;
            width: 100%;
        }
        button{
            width: 100%;
            cursor: pointer;
            background-color:#fece51 ;
            padding: 12px 20px;
            img{
                width: 25px;
            }
        }
    }
}